{%extends "base.html"%}

{%block head%} 
    <title>Votação Home</title>
{%endblock%}

{%block body%} 

    {%for message in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible show" role="alert">
        {{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
    {%endfor%}
    {%if candidatos%}
    <form action="" method="post">
        {%for candidato in candidatos%}
            <div>
                <p>{{candidato.nome}}</p>
                <p>{{candidato.cpf}}</p>
                <input type="radio" name="voto" value="{{candidato.id}}">
            </div>
        {%endfor%}
        <input type="submit" value="Votar">
    </form>
    {%else%}
        <p>Não há candidatos</p>
    {%endif%}
{%endblock%}