{%extends "base.html"%}

{%block head%}
    <title>Login</title>
{%endblock%}

{%block body%}
{%for message in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible show container-sm" role="alert">
    {{message}} 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{%endfor%}
<h1 class="text-center" >Login de Usuário</h1>
<form action="{{url_for('login')}}" method="post" class="container-sm d-sm-flex d-flex flex-column mb-3">
    {{form.hidden_tag()}}
    <fieldset class="container d-sm-flex d-flex flex-column mb-3 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="input-group input-group-sm mb-3 container">
            {{form.username.label(class_='input-group-text', id='inputGroup-sizing-sm')}}
            {{form.username(class_='form-control', aria_label='Sizing example input', aria_describedby='inputGroup-sizing-sm')}}
        </div>
        <div class="input-group input-group-sm mb-3 container">
            {{form.password.label(class_='input-group-text', id='inputGroup-sizing-sm')}}
            {{form.password(class_='form-control', aria_label='Sizing example input', aria_describedby='inputGroup-sizing-sm')}}
        </div>
        {{form.submit(value='Logar', class_='btn btn-outline-secondary align-self-center')}}
    <fieldset>
</form>
{%endblock%}