<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex flex-row mb-3 align-items-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">Votar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('adicionar_candidato')}}">Candidato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('adicionar_eleitor')}}">Eleitor</a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">Login</a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">logout</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>